.card {
  backdrop-filter: blur(15px) saturate(146%);
  -webkit-backdrop-filter: blur(15px) saturate(146%);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.f-header div span {
  font-family: "NotoSansThai" !important; 
}

.tax-conditions {
  float: right;
  font-family: "NotoSansThai" !important;
  font-size: 13px;
}

.form-invoice {
  width: 100% !important;
}

.bt-submit {
  text-align: right;
}

.btn-search{
  background-color: #d713499e!important;
  font-weight: 700!important;
  border-radius: 2em!important;
}
/* .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #933155!important;
  border-width: 2px;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused.input-inv {
  color: #933155!important;
  font-family: 'NotoSansThai'!important;
}*/
.input-inv{
  color: #933155!important;
  font-family: 'NotoSansThai'!important;
} 

table{
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

#inv-year{
  color: #933155!important;
  font-family: 'NotoSansThai'!important;
}